
.page-header {
  background: url(../assets/img/appointment/header-app.png) top center no-repeat;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); 
  height: 50vh;
}

a {
  text-decoration: none;
}

.header-content,
.header-content2 a {
  color: white;
  text-shadow: 1px 3px 3px rgb(109, 109, 109); 
  font-weight: 700;
}

.button-container {
  display: flex;
  margin-left: 20px;
}

.nav-button {
  background-color: #ffffff; 
  border: 1px solid #00d9ff; 
  color: #00d9ff; 
  padding: 7px 15px; 
  margin-right: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 10px;
  margin-top: 10px;
}

.nav-button:hover {
  background-color: #00d9ff; 
  color: white;
}

.nav-button:last-child {
  margin-right: 0; 
}

.hr-nav {
  width: 27%;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 20px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.appoint-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  position: relative;
}
.dcapp-card {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  width: calc(
    100%
  ); /* Perluas lebar elemen untuk menutupi margin negatif */
  max-width: none; /* Nonaktifkan max-width */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Atur margin-bottom untuk jarak yang lebih kecil */
  margin-left: 20px; /* Atur margin negatif untuk memperluas ke kiri */
  margin-right: 20px; /* Atur margin negatif untuk memperluas ke kanan */
  position: relative;
}

.appoint-details {
  flex: 2;
  padding: 20px;
}

.appoint-details h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 60px;
}

.appoint-details p {
  margin-left: 60px;
  margin-right: 40px;
}

.dcapp-card .status {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.dcapp-card .status.completed {
  color: #28a745;
  display: flex;
  float: right;
}

.dcapp-card .status.canceled {
  color: #dc3545;
  display: flex;
  float: right;
}

.dcapp-card .status.upcoming {
  color: #007bff;
  display: flex;
  float: right;
}

.short-hr-all {
  width: 30%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10vh;
  display: inline-block;
  position: relative;
}
.dcapp-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dcapp-image img {
  max-width: 100%;
  border-radius: 20px;
  max-height: 180px;
  margin-right: 5vh;
}

.review-order {
  font-weight: 700;
  margin-right: 0;
  margin-top: 25px;
}

.review-actions {
display: flex;
justify-content: right; 
margin-top: 0px;
}

.submit-review-btn {
background-color: #007bff; 
color: white;
border: none;
padding: 10px 15px;
border-radius: 10px; 
cursor: pointer;
transition: background-color 0.3s ease; 
display: flex;
float: right;
margin-top: 0;
}

.submit-review-btn:hover {
background-color: #0056b3; 
}

.review-form {
display: flex;
flex-direction: row;
flex: 1;
margin-top: 10px;
margin-left: 10px;
}

.review-input {
width: 300px; 
height: 40px;
padding: 15px; 
border: 1px solid #000000; 
border-radius: 25px; 
resize: vertical; 
font-family: Arial, Helvetica, sans-serif; 
margin-right: 10px;
text-align: left;
}

.review-section {
display: flex;
align-items: center;
margin-top: 0px;
margin-bottom: 0;
}

.rating {
display: flex;
flex-direction: row-reverse;
gap: 0;
margin-left: 0px;
margin-top: 0px;
}

.rating input {
appearance: none;
position: absolute;
opacity: 0;
}

.rating label {
cursor: pointer;
}

.rating svg {
width: 2rem;
height: 2rem;
overflow: visible;
fill: transparent;
stroke: #666;
stroke-linejoin: bevel;
stroke-dasharray: 12;
transition: stroke 0.2s, fill 0.5s;
}

.rating label:hover svg {
stroke: #ffc73a;
}

.rating input:checked~label svg {
transition: 0s;
animation: animation 0.75s backwards;
fill: #ffc73a;
stroke: #ffc73a;
stroke-opacity: 1;
stroke-dasharray: 0;
stroke-linejoin: miter;
stroke-width: 1px;
}

@keyframes animation {
0% {
    transform: scale(0);
    fill: #ffc73a;
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: #666;
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
}
30% {
    transform: scale(0);
    fill: #ffc73a;
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: #666;
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
}
30.1% {
    stroke: #ffc73a;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 1px;
}
60% {
    transform: scale(1);
    fill: #ffc73a;
}
}