#hero-carousel{
    .carousel-inner::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 1;
    }
    .carousel.item{
        height: 100vh;
        min-height: 300px;
    }
    .carousel-caption{
        bottom: 170px;
        z-index: 2;
    }
    .carousel-caption h1{
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        text-align: center;
    }
    .carousel-caption p{
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
        text-align: center;
    }
}

.appo-hero{
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #ffc107;
    border-radius: 10px;
    background: transparent;
    color: #ffc107;
    padding: 10px 10px;
    transition: all .3s ease;
}
.appo-hero:hover{
    background: #ffc107;
    color: black;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 500px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .carousel-caption{
        bottom: 525px;
    }
    .carousel-caption h1{
        font-size: 17px;
    }
    .carousel-caption a{
     padding: 10px 15px;   
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}
  