.container1 {
  display: flex;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  flex: 1;
  padding: 40px;
}

.login-form h1 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.login-form p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  background-color: #3dc5cc;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  flex: 1;
  margin-right: 10px;
}

.login-btn:hover {
  background-color: #33b5b9;
}

.register-btn {
  background-color: white;
  border: 2px solid #3dc5cc;
  color: #3dc5cc;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.register-btn:hover {
  background-color: #3dc5cc;
  color: white;
}

.login-image {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .login-form {
    width: 100%;
    padding: 20px;
  }

  .login-form h1 {
    font-size: 30px;
    margin-right: 0;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .login-btn,
  .register-btn {
    margin-right: 0;
    width: 100%;
  }

  .login-image {
    order: -1;
    margin-top: 20px;
    height: auto;
    width: 100%;
  }

  .login-image img {
    width: 100%;
    height: auto;
  }
}

/* Smartphones */
@media (max-width: 480px) {
  .container1 {
    width: 90%;
    padding: 10px;
  }

  .login-form {
    padding: 10px;
  }

  .login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-form p {
    font-size: 14px;
  }

  .login-form label {
    font-size: 14px;
  }

  .login-form input {
    padding: 10px;
    font-size: 12px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .login-btn,
  .register-btn {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    margin-right: 0;
  }

  .login-image {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image img {
    width: 100%;
    height: auto;
  }
}
