.navbar{
    text-transform: uppercase;
    
    .nav-link.active {
        font-weight: 700;
        color: white;
      }
      .nav-link.active:hover {
        font-weight: 700;
        transition: 0.5s;
      }
      .nav-link{
        color: white;
      }
      .nav-link:hover {
        font-weight: 700;
        transition: 0.3s;
      }
}
.btn-appo:hover{
    background-color: $primary;
}