.box-tabtab {
    margin-top: 30px;

    .table {
      margin-top: 1.25rem; // mt-5 in Bootstrap corresponds to 3rem, you can adjust this value as needed
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    
      th, td {
        padding: 0.75rem;
        text-align: left;
        border: 1px solid #dee2e6; // Light gray border for table cells
        vertical-align: middle;
      }
  
      thead {
        tr {
          th {
            background-color: #f8f9fa; // Light gray background for table header
            border-bottom: 2px solid #dee2e6;
            text-align: center;
          }
        }
      }
  
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f8f9fa; // Light gray background for odd rows
          }
  
          &:nth-child(even) {
            background-color: #fff; // White background for even rows
          }
  
          &:hover {
            background-color: #e9ecef; // Light gray background on row hover
          }
  
          th {
            scope: row;
            background-color: #e9ecef; // Light gray background for row headers
            text-align: center;
          }
        }
      }
    }
  
    // Optional: Box styling around the table
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); // Subtle shadow for the box

    .button-add {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.375rem;
        color: #fff;
        cursor: pointer;
        float: right; /* Tambahkan ini untuk menempatkan tombol di sebelah kanan */
        
        &:hover {
            background-color: transparent;
            outline: 2px solid $primary;
            color: $primary;
        }
    }
    

    .button-container {
        display: flex;
        justify-content: center; /* Menyelaraskan tombol secara horizontal di tengah */
        align-items: center;
        display: block;
        margin: 0 auto;
        
        .button-action {
            margin-right: 0.5rem; // Memberikan jarak antar tombol
            border-radius: 0.25rem; // Menambahkan border radius agar tombol lebih halus
            font-size: 0.875rem; // Menyesuaikan ukuran font
            color: #fff;
            cursor: pointer;
            padding: 0.375rem 0.65rem;

            
            &:last-child {
                margin-right: 0; // Menghilangkan margin di tombol terakhir
            }
        }
    }
  }
  